{% load staticfiles %}
<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <form role="form" method="post" action="chartSearch">
                <div class="input-group">

                        <input type="text" class="form-control" name="keywords">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">花型搜索</button>
                        </span>

                </div>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>


    </div>
    <div class="panel-body " style="height: 600px;">
        <div class="row" style="overflow-x: auto; overflow-y: auto; height: 580px;">
        <table class="table table-hover" style="height: 700px;">
            <thead>
            <th>样图</th><th>名称</th><th>备注</th><th>制图文件</th>
            </thead>
            <tbody>
            {% for c in chartList %}
                <tr>
                    <td style="vertical-align:middle; text-align:center;width: 25%;">
                        {% if c.image %}
                            <a href="{{ c.image.url }}" class="thumbnail" style="height: 180px;width: 171px;">
                            <img src="{{ c.image.url }}"  alt="项目原文件" style="height: 180px;width: 171px;">
                            </a>
                        {% endif %}
                        {% if not c.image %}
                            <img src="{% static "img/hold.png" %}"  alt="项目原文件" style="height: 180px;width: 171px;">
                        {% endif %}
                    </td>
                    <td style="vertical-align:middle; text-align:center;width: 25%;">
                        {% url 'chartDetial' c.id as chartDetial_url %}
                        <a href="{{ chartDetial_url }}">{{ c.name }}</a>
                    </td>
                    <td style="vertical-align:middle; text-align:center;width: 25%;">
                        {% if c.comment|length > 15 %}
                                <span title="{{ c.comment}}">{{ c.comment|slice:"15"}}...</span>
                            {% else %}
                                {{ c.comment}}
                            {% endif %}
                    </td>
                    <td style="vertical-align:middle; text-align:center;width: 25%;">
                        {% if c.dstfile %}{% load static %}
                            <a href="{% get_media_prefix %}{{ c.dstfile }}">{{ c.fileName }}</a>
                        {% else %}
                            <a href="">无文件</a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    </div>
</div>
