
                <table class="table table-hover">
                    {% for company in company_list %}
                    <tr>{% url 'companyDetial' company.id as company_url %}
                        <td><a href="{{ company_url }}">{{ company.name }}</a>
                            {% for k,v in companyLengthMap.items %}
                                {% if k == company.id %}
                                <span class="pull-right">剩余总米数：{{ v }}米</span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
