<style>
    td,th{
        vertical-align:middle;
        text-align:center;
    }


</style>
<div class="panel-info">

{% if message_delivery %}
    {% if message_delivery.success %}
        <div class="alert alert-success">
            {{ message_delivery.success }}
        </div>
    {% endif %}
    {% if message_delivery.error %}
        <div class="alert alert-danger">
            {{ message_delivery.error }}
        </div>
    {% endif %}
{% endif %}
    <div class="panel-body">
        <form action="createDelivery" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                   <div class="input-group">
                      <span class="input-group-addon">
                         公司名称
                      </span>
                      <select class="selectpicker" data-live-search="true" name="delivery_company">
                                {% for c in company_list %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="col-md-4">
                   <div class="input-group" id="project_name_div">
                      <span class="input-group-addon">
                         项目名称
                      </span>
                      <select class="selectpicker" data-live-search="true" name="delivery_project">
                                {% for c in project_list %}
                                    <option value="{{ c.id }}">{{ c.name }} - - {{ c.company.name }}</option>
                                {% endfor %}
                      </select>
                    </div>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                创建时间
                            </span>
                            <div class="input-append date" id="delivery_datetimepicker" data-date-format="yyyy-mm-dd">
                                <input name="delivery_outdate" class="form-control" type="text" autocomplete="off" required>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                    </div>
                <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                项目原文件
                            </span>
                            <input type="file" name="delivery_image" class="form-control" placeholder="项目原文件">
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="panel">
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                            <th>缸号</th><th>颜色</th><th>米数</th><th>备注</th>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="delivery_num_1" placeholder="缸号">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_color_1"placeholder="颜色">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_length_1"placeholder="米数">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_comment_1" placeholder="备注">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="delivery_num_2" placeholder="缸号">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_color_2"placeholder="颜色">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_length_2"placeholder="米数">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_comment_2" placeholder="备注">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="delivery_num_3" placeholder="缸号">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_color_3"placeholder="颜色">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_length_3"placeholder="米数">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_comment_3" placeholder="备注">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="delivery_num_4" placeholder="缸号">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_color_4" placeholder="颜色">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_length_4"placeholder="米数">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_comment_4" placeholder="备注">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="delivery_num_5" placeholder="缸号">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_color_5" placeholder="颜色">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_length_5" placeholder="米数">
                                </td>
                                <td>
                                    <input type="text" class="form-control" name="delivery_comment_5" placeholder="备注">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                <div class="row">
                    <div>
                        <input type="submit" value="创建新发货单" class="btn-primary btn">
                    </div>
                </div>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>
<script>
     $('input').attr('autocomplete','off')
</script>
<script>
    $('#delivery_datetimepicker').datetimepicker({
        format: 'yyyy-mm-dd',
        minView:'month',
        language: 'zh-CN',
        autoclose:true,
        todayHighlight:true,
        todayBtn:true,
        initialDate:new Date()
    });

</script>