<div class="panel-info">
{% if message_project %}
    {% if message_project.success %}
        <div class="alert alert-success">
            {{ message_project.success }}
        </div>
    {% endif %}
    {% if message_project.error %}
        <div class="alert alert-danger">
            {{ message_project.error }}
        </div>
    {% endif %}
{% endif %}

    <form action="createProject" enctype="multipart/form-data" method="post">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                   <div class="input-group" id="company_name_div" >
                      <span class="input-group-addon">
                         公司名称
                      </span>
                      <select class="selectpicker" data-live-search="true" name="project_company">
                                {% for c in company_list %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endfor %}
                      </select>
                    </div>
                </div>
                <div class="col-md-4">
                   <div class="input-group">
                      <span class="input-group-addon">
                         项目名称
                      </span>
                      <input type="text" class="form-control" placeholder="项目名称"  autocomplete="off" name="project_name" >
                    </div>
                </div>

            </div>
            <br>
            <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                创建时间
                            </span>
                            <div class="input-append date" id="project_datetimepicker" data-date-format="yyyy-mm-dd">
                                <input name="project_createDate" class="form-control" type="text" autocomplete="off" required>
                                <span class="add-on"><i class="icon-remove"></i></span>
                                <span class="add-on"><i class="icon-th"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                   <div class="input-group">
                      <span class="input-group-addon">
                         项目联系人
                      </span>
                      <select class="selectpicker" data-live-search="true" name="project_contact">
                                {% for c in contact_list %}
                                    <option value="{{ c.id }}">{{ c.name }} - {{ c.company.name }} </option>
                                {% endfor %}
                      </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">

                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                项目原文件
                            </span>
                            <input type="file" name="project_image" class="form-control" placeholder="项目原文件">
                        </div>
                    </div>
                    <div class="col-md-4">
                   <div class="input-group">
                      <span class="input-group-addon">
                         花型
                      </span>
                      <select class="selectpicker" data-live-search="true" name="project_flower">
                                {% for c in flower_list %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endfor %}
                      </select>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-8">
                   <div class="input-group">
                      <span class="input-group-addon">
                         项目备注
                      </span>
                      <input type="text" class="form-control" placeholder="项目备注"  autocomplete="off" name="project_comment" >
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                        <input type="submit" value="创建新项目" class="btn-primary btn">
                </div>
            </div>


        </div>
    </form>
</div>
<script>
     $('input').attr('autocomplete','off')
</script>
<script>
    $('#project_datetimepicker').datetimepicker({
        format: 'yyyy-mm-dd',
        minView:'month',
        language: 'zh-CN',
        autoclose:true,
        todayHighlight:true,
        todayBtn:true,
        initialDate:new Date()
    });
</script>