                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a class="navbar-brand" href="#">打样搜索</a>

                    </div>
                    <div class="collapse navbar-collapse" >

                    <form action="sampleSearch" class="navbar-form navbar-left" role="search" method="post">
						<div class="form-group">
							<input name="key" class="form-control" type="text" style="width: 100%;"
                                   placeholder="" />
						</div>
                        <button class="btn btn-primary" type="submit">搜索</button>
                        <span><em><small>    检索公司名称、联系人、项目名称、花型名称</small></em></span>
					</form>

                    </div>
                </div>